---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/40662/credits?api_key=dd165b18174b238eb2af5a0c3552f2f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"a8914af3bf0d6b2a62733a151230cfe2"
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '17748'
      X-Memc-Expires:
      - '11052'
      X-Memc-Key:
      - abfd5974f493057124ac27140aeaf87e
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '22'
      X-Ratelimit-Reset:
      - '1458240791'
    body:
      encoding: ASCII-8BIT
      string: '{"id":40662,"cast":[{"cast_id":3,"character":"Bruce Wayne/Batman","credit_id":"52fe459dc3a36847f80d0e99","id":21089,"name":"Bruce
        Greenwood","order":0,"profile_path":"/his8sEwC8FLC4dAxVSu9GNicE6Z.jpg"},{"cast_id":4,"character":"Red
        Hood","credit_id":"52fe459dc3a36847f80d0e9d","id":49624,"name":"Jensen Ackles","order":1,"profile_path":"/3PEwDCpJwA6ZKzD1hJdp334EGbp.jpg"},{"cast_id":5,"character":"Dick
        Grayson/Nightwing","credit_id":"52fe459dc3a36847f80d0ea1","id":41686,"name":"Neil
        Patrick Harris","order":2,"profile_path":"/v5sCdjk0zxwSdFT4kmlVwu6M3Hb.jpg"},{"cast_id":6,"character":"Ra''s
        al Ghul","credit_id":"52fe459dc3a36847f8[...]
