---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/40662?api_key=dd165b18174b238eb2af5a0c3552f2f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"e70bf6f51c74114ad6d163b27c605185"
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '11688'
      X-Memc-Expires:
      - '17112'
      X-Memc-Key:
      - 08892af275477200fda3fd6e3d8beb60
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '24'
      X-Ratelimit-Reset:
      - '1458240791'
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/rHNz1AlYG0S9J3CGp9ObSFxUyMH.jpg","belongs_to_collection":null,"budget":0,"genres":[{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":28,"name":"Action"},{"id":878,"name":"Science
        Fiction"},{"id":9648,"name":"Mystery"}],"homepage":"http://www.warnervideo.com/batmanredhood/","id":40662,"imdb_id":"tt1569923","original_language":"en","original_title":"Batman:
        Under the Red Hood","overview":"Batman faces his ultimate challenge as the
        mysterious Red Hood takes Gotham City by firestorm. One part vigilante, one
        part criminal kingpin, Red Hood begins cleaning up Gotham with the efficiency
        of Batman, but without following the same ethical code.","popularity":2.232095,"poster_path":"/78kjgspmLLOm2Glgpzqo9cS4GpI.jpg","production_companies":[{"name":"DC
        Comics","id":429},{"name":"Warner Bros. Animation","id":2785}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2010-07-27","revenue":6629178,"runtime":75,"spoken_languages":[{"iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Dare
        to Look Beneath the Hood.","title":"Batman: Under the Red Hood","video":false,"vote_average":7.6,"vote_count":225}'
  recorded_at: Thu, 17 Mar 2016 18:53:06 GMT
recorded_with: VCR 3.0.1
