---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/40662
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 401 Unauthorized
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '18'
      X-Ratelimit-Reset:
      - '1457457099'
    body:
      encoding: UTF-8
      string: '{"status_code":7,"status_message":"Invalid API key: You must be granted
        a valid key."}'
  recorded_at: Tue, 08 Mar 2016 17:11:36 GMT
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/40662/credits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 401 Unauthorized
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '17'
      X-Ratelimit-Reset:
      - '1457457099'
    body:
      encoding: UTF-8
      string: '{"status_code":7,"status_message":"Invalid API key: You must be granted
        a valid key."}'
  recorded_at: Tue, 08 Mar 2016 17:11:36 GMT
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/40662?api_key=dd165b18174b238eb2af5a0c3552f2f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"cb199d8b0d04c047fdbf649107c70a87"
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '7776'
      X-Memc-Expires:
      - '21024'
      X-Memc-Key:
      - 9e58c29c33fa8983a5303b9fd8fdcb90
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '16'
      X-Ratelimit-Reset:
      - '1457457099'
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/rHNz1AlYG0S9J3CGp9ObSFxUyMH.jpg","belongs_to_collection":null,"budget":0,"genres":[{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":28,"name":"Action"},{"id":878,"name":"Science
        Fiction"},{"id":9648,"name":"Mystery"}],"homepage":"http://www.warnervideo.com/batmanredhood/","id":40662,"imdb_id":"tt1569923","original_language":"en","original_title":"Batman:
        Under the Red Hood","overview":"Batman faces his ultimate challenge as the
        mysterious Red Hood takes Gotham City by firestorm. One part vigilante, one
        part criminal kingpin, Red Hood begins cleaning up Gotham with the efficiency
        of Batman, but without following the same ethical code.","popularity":1.297833,"poster_path":"/78kjgspmLLOm2Glgpzqo9cS4GpI.jpg","production_companies":[{"name":"DC
        Comics","id":429},{"name":"Warner Bros. Animation","id":2785}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2010-07-27","revenue":6629178,"runtime":75,"spoken_languages":[{"iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Dare
        to Look Beneath the Hood.","title":"Batman: Under the Red Hood","video":false,"vote_average":7.5,"vote_count":222}'
  recorded_at: Tue, 08 Mar 2016 17:11:37 GMT
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/40662/credits?api_key=dd165b18174b238eb2af5a0c3552f2f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"a8914af3bf0d6b2a62733a151230cfe2"
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '19003'
      X-Memc-Expires:
      - '9797'
      X-Memc-Key:
      - abfd5974f493057124ac27140aeaf87e
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '15'
      X-Ratelimit-Reset:
      - '1457457099'
    body:
      encoding: ASCII-8BIT
      string: '{"id":40662,"cast":[{"cast_id":3,"character":"Bruce Wayne/Batman","credit_id":"52fe459dc3a36847f80d0e99","id":21089,"name":"Bruce
        Greenwood","order":0,"profile_path":"/his8sEwC8FLC4dAxVSu9GNicE6Z.jpg"},{"cast_id":4,"character":"Red
        Hood","credit_id":"52fe459dc3a36847f80d0e9d","id":49624,"name":"Jensen Ackles","order":1,"profile_path":"/3PEwDCpJwA6ZKzD1hJdp334EGbp.jpg"},{"cast_id":5,"character":"Dick
        Grayson/Nightwing","credit_id":"52fe459dc3a36847f80d0ea1","id":41686,"name":"Neil
        Patrick Harris","order":2,"profile_path":"/v5sCdjk0zxwSdFT4kmlVwu6M3Hb.jpg"},{"cast_id":6,"character":"Ra''s
        al Ghul","credit_id":"52fe459dc3a36847f8[...]
